#blog{
    background-color: #1F1F1F;
}
#blog .news{
    color: #FF9600;
}
#blog .item div{
    margin: 60px
}
#blog .item div h3{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 30px;
}

#blog .item div a{
    text-decoration-line: none;
    color: #fff;
    padding: 5px 15px;
    background-color: #FF9600;

}
#blog .item div .des{
    margin-bottom: 50px;
}

#blog .title{
    color: #FF9600;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom: 2px solid white;
    display: inline-block;
    margin-bottom: 50px;
}
#blog .more,#menu .more{
    padding: 10px 30px;
    background-color: #FF9600;
    color: #fff;
    text-decoration-line: none;
}
#location {
    background-color: #EFECEC;
}
#location .shop div{
    position: relative;
    text-align: center
}
#location .shop div h2{
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: #fff;
    font-size: 20px

}
#location .shop{
    margin-top: 30px;
    padding-bottom: 60px;
}
#feedback .title, #menu .title{
    color: #FF9600;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom: 2px solid black;
    display: inline-block;
    margin-bottom: 50px;
    margin-top: 50px;
}
#feedback .highlight{
    color: #FF9600
}
#feedback .list .item{
    margin-bottom: 30px;
}

#feedback .list{
    margin-bottom: 30px;
}
#menu .list .item div .buy{ 
    background-color: #FF9600;
    padding: 5px 15px;
    color: #fff
}
#menu .list .item img{
    width: 100%;
}
#menu .list .item div h5{ 
    text-transform: uppercase;
    font-size: 15px;    
    margin-bottom: 20px;
    margin-top: 30px;
}
#menu .list .item div p{ 
    color: #FF9600;
    margin: 0 auto;
    margin-bottom: 5px;
    font-size: 30px;
}
#menu .list .item{
    min-height: 570px;
}

#menu .list .item div .more{ 
    background-color: #fff;
    padding: 5px 15px;
    color: #FF9600;
    border: 1px solid #FF9600;
}
#menu{
    margin-bottom: 50px;
}
.ws_images{
    position: initial !important;
}


.carousel-indicators .active{
    width: 18px;
    height: 18px;
}

.carousel-indicators{
    margin: 0;
    right: inherit;
    bottom: 150px;
    margin-left: 100px;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 2em;
    border-radius: 50%;
    background: #fff;
    margin: 0 1em;
    display: inline-block;
    color: white;
    position: relative;
    margin-left: 60px;
  }
  
  .carousel-indicators li::before{
    content: '';
    position: absolute;
    top: 7px;
    left: -10em;
    width: 13em;
    height: .1em;
    background: #fff;
    z-index: -1;
     vertical-align:middle
  }

  