@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

#content{
    background-color: #E3E1E1;
}
#content .cart{
    background-color: #fff;
}
#content .cart h6{
    margin-top: 30px
}
#content .item-info{
    background-color: #fff;
    min-height: 250px
}
#content .item-image{
    width: 100%;
}

#content .item-info div{ 
    margin-left: 25px;
    padding-top: 50px;
}

#content .item-info div p{ 
    color: #FF9600;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 30px;
}

#content .item-info div a{ 
    background-color: #FF9600;
    padding: 5px 10px;
    color: #fff
}
#content .item-info div h5{ 
    text-transform: uppercase;
    font-size: 15px;    
    margin-bottom: 40px;
}
.row-item>div{
    margin-bottom: 30px;
    
}
.item-title{
    color: #FF9600;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom: 2px solid black;
    display: inline-block;
    margin-bottom: 50px;
}
.row-item{
    margin-top: 20px;
    margin-bottom: 30px;
}

.note{
    margin-left: 60px;
    margin-bottom: 15px;
    border: 1px solid #FF9600;
    padding: 10px 20px;
    width: 670px;
}
.number-item li{
    display: inline-block;
}
.number-item li a{
    background-color: #FFB449;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    text-decoration-line: none;
    color: #fff;
}
.number-item{
    display: inline-block;
}
.payment>a{
    padding: 10px 5px;
    background-color: #FFB449;
    float: right;
    margin-right: 100px;
    color: #fff;
    text-decoration-line: none;
}
.payment>a span{
    margin-left:70px;
}
.order-list .item-quantity{
    background-color: #FFA626;
    width: 20px;
    height: 19px;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
}
.order-list{
    text-align: left
}

.category li{
    text-transform: uppercase;
    list-style-type: none;
    font-weight: bold;
    color: #FF9600;
    margin-bottom: 15px;
}
.category{
    
    margin-top: 50px;
}
.price{
    font-family: "Roboto";
    font-weight: 400;
}
.item-name{
    font-weight: bold;
    font-size: 12px;
}
.pay-form{
    width: 100%;
    border: 1px solid #FF9600;
    padding: 5px 20px;
    margin-bottom: 20px
}
.payment-type-list>li>div>img{
    width: 30px;
}

.payment-type-list>li{
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}
.payment-type-list>li>div{
    display: inline;
}
.round {
    position: relative;
   
  }
  
  .round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 15px;
    left: 0;
    position: absolute;
    top: 5px;
    width: 15px;
  }
  
  
  .round input[type="radio"] {
    visibility: hidden;
  }
  
  .round input[type="radio"]:checked + label {
    background-color:#EA8025;
    border-color: #707070;
  }
  
  .round input[type="radio"]:checked + label:after {
    opacity: 1;
  }
  .payment-type-list{
      margin-left: 30px;
      margin-top: 30px;
  }
  .pay-finish{
    margin-right: 30px;
    background-color: #FFB449;
    padding: 10px 10px;
    padding: 2px 25px;
    color: #fff;
  }
  .pay-finish:hover{
    color: #fff;
  }
  .modal-content{
    padding-bottom: 30px;
  }

  #pay-success-modal .modal-dialog .modal-content{
    background-color: #FF9600;
}
.yes-no a{
    padding: 0px 30px;
    background-color: #fff;
    border-radius: 20px;
    color: #000;
    text-decoration-line: none;
}
.yes-no {
    margin-top: 30px;
}