@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

#content{
    background-color: #E3E1E1;
}
#content .cart{
    background-color: #fff;
}
#content .cart h6{
    margin-top: 30px
}
#content .item-info{
    background-color: #fff;
    min-height: 250px
}
#content .item-image{
    width: 100%;
}

#content .item-info div{ 
    margin-left: 25px;
    padding-top: 50px;
}

#content .item-info div p{ 
    color: #FF9600;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 30px;
}

#content .item-info div a{ 
    background-color: #FF9600;
    padding: 5px 10px;
    color: #fff
}
#content .item-info div h5{ 
    text-transform: uppercase;
    font-size: 15px;    
    margin-bottom: 40px;
}
.row-item>div{
    margin-bottom: 30px;
    
}
.item-title{
    color: #FF9600;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom: 2px solid black;
    display: inline-block;
    margin-bottom: 50px;
}
.row-item{
    margin-top: 20px;
    margin-bottom: 30px;
}

.note{
    margin-left: 60px;
    margin-bottom: 15px;
    border: 1px solid #FF9600;
    padding: 10px 20px;
    width: 670px;
}
.number-item li{
    display: inline-block;
}
.number-item li a{
    background-color: #FFB449;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    text-decoration-line: none;
    color: #fff;
}
.number-item{
    display: inline-block;
}
.payment>a{
    padding: 10px 5px;
    background-color: #FFB449;
    float: right;
    margin-right: 100px;
    color: #fff;
    text-decoration-line: none;
}
.payment>a span{
    margin-left:70px;
}
.order-list .item-quantity{
    background-color: #FFA626;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center
}
.order-list{
    text-align: left
}

.category li{
    text-transform: uppercase;
    list-style-type: none;
    font-weight: bold;
    color: #FF9600;
    margin-bottom: 15px;
}
.category{
    
    margin-top: 50px;
}
.price{
    font-family: "Roboto";
    font-weight: 400;
}
.item-name{
    font-weight: bold;
    font-size: 12px;
}