.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.slogan-thumb {
    float: left
}
.slogan-thumb img {
    display: block
}

.slogan{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 700px;
}
.slogan-content{
    margin-top: 10px
}
#content-1{
    background-color: #E3E1E1
}
#content-1>div{
    text-align: center;
    padding: 50px 400px;
}
#content-1>div .content-1-title, #content-2>div .content-2-title{
    color: #FF9600;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
    display: inline-block;
}
#content-1 .content-1-body{
    margin-top: 40px;
}
#content-2 .content-2-row{
    margin-bottom: 60px;
}