#nav .menu li{
    display: inline-block;
    padding: 15px 0px;
    margin-right: 15px;
}
#nav{
    background-color: #000000;
}

#nav .menu{
    text-align: center;
    margin: 0 auto;
}

#nav .menu li>a{
    color: #ffffff;
    padding-bottom: 25px;
    text-decoration-line: none;
    text-transform: uppercase;
    font-size: 14px;
}

.active{
    border-bottom: 2px solid #fff
}
#footer{
    background-color: black;
}
#footer .footer-row-1 a{
    text-decoration-line: none;
    color: #fff;
}
#footer .footer-row-1 ul{
    list-style: none;
}
#footer .footer-row-1 li{
    color: #fff;
    margin-bottom: 10px;
}
#logout{
    position: absolute;
    top: 70px;
    right: 72px;
    border: 1px solid #707070;
    padding: 0px 13px;
    background-color: #FFFFFF;
    color: #FF0000;
    text-decoration-line: none;
    display: none;
    z-index: 999999;
}
.full-width{
    width: 100%;
}
.reset{
    margin: 0;
    padding: 0;
}
#profile i{
    font-size: 30px;
    vertical-align: middle;
}
.borderless td, .borderless th {
    border: none;
}